@import "tailwindcss";

/* optional global reset */
html, body, #root { height: 100%; }

/* ---- Hide scrollbars completely ---- */
.no-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
